@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  width: 100%;
  height: 90px;
}

.header-wrapper {
  margin: 0 auto;
  width: 1020px;
}

.header-wrapper::after {
  content: "";
  display: block;
  position: relative;
  bottom: 1px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 48px 0 48px;
  border-color: #323232 transparent transparent transparent;
}

.line-separate {
  display: flex;
  margin: auto;
  position: relative;
  width: 75%;
}

.line-separate::before {
  content: '';
  position: absolute;
  left: 2%;
  width: 40%;
  height: 1px;
  background: #e4e9eb;
  top: -20px;
}

.line-separate::after {
  content: '';
  position: absolute;
  right: 2%;
  width: 40%;
  height: 1px;
  background: #e4e9eb;
  top: -20px;
}

.navigation {
  display: flex;
  justify-content: center;
  height: 63px;
  background-color: #323232;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
  width: 400px;
}

.nav-list li {
  font: 11px 'Lato';
  text-transform: uppercase;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.nav-list li a:hover {
  transition: all ease-out 0.3s;
  color: #2eb398;
}

.main-logo {
  position: relative;
  z-index: 99;
  top: 10px;
}

/* Main content */

.main {
  width: 100%;
}

.slider {
  width: 1020px;
  padding-top: 70px;
  margin: auto;
}

.hex-wrapper {
  display: flex;
}

.hex-wrapper:nth-child(odd) {
  margin: -30px 100px;
}

.hex-wrapper:nth-child(odd):before,
.hex-wrapper:nth-child(odd):after {
  content: "";
  display: flex;
  align-self: center;
  height: 100px;
  width: 1px;
  border-left: 1px solid #e4e9eb;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-size: cover;
  margin: 0 auto;
  height: 200px;
  width: 180px; 
}

.hexagon.monster-1 {
  background-image: url('./assets/monster-1.png');
}

.hexagon.monster-2 {
  background-image: url('./assets/monster-2.png');
}

.hexagon.monster-3 {
  background-image: url('./assets/monster-3.png');
}

.hexagon.monster-4 {
  background-image: url('./assets/monster-4.png');
}

.hexagon.monster-5 {
  background-image: url('./assets/monster-5.png');
}

.hexagon.monster-6 {
  background-image: url('./assets/monster-6.png');
}

.hexagon.monster-7 {
  background-image: url('./assets/monster-7.png');
}

.hexagon.monster-8 {
  background-image: url('./assets/monster-8.png');
}

.hexagon.monster-9 {
  background-image: url('./assets/monster-9.png');
}

.hexagon.monster-10 {
  background-image: url('./assets/monster-10.png');
}

.hexagon.monster-11 {
  background-image: url('./assets/monster-11.png');
}

.hexagon.monster-12 {
  background-image: url('./assets/monster-12.png');
}

.hexagon.monster-13 {
  background-image: url('./assets/monster-13.png');
}